head
  title Title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
  link(rel='stylesheet', href='../style/house/house.css', type='text/css')
// Nava
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') Sagvv
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarNav.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/hotel') Hotel
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='house') House
      li.nav-item
        a.nav-link(href='/user') User
      li.nav-item
        a.nav-link(href='#') Restaurant
// header
.headerhouse
  form
    .container
      .row.formhouse
        .col-md-6
          .form-group
            label(for='') Place
            input.form-control(type='email', name='', id='', placeholder='Palce')
        .col-md-3
          .form-group
            label(for='') Your choose
            select.form-control(name='', id='')
              option villa
              option Normal house
              option Flase
        .col-md-3
          .form-group
            label(for='') Choose price
            select.form-control(name='', id='')
              option Under 10000$
              option Under 10000000$
              option Above 10000000$
        .btnhouse
          button.btn.btn-primary(type='submit') Go
// villa
.villa
  .container
    h3.title Villa
    .row
      .col-md-4.colum
        img(src='./images/hotel6.jpg', width='100%', height='300px')
        .detailvila
          h5 Niasdcasc liksdf 
          p this is a best villaa in the world can you take it
          span.float-right 10000$
          br
          .buy
            button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel7.jpg', width='100%', height='300px')
        .detailvila
          h5 Niasdcasc liksdf 
          p this is a best villaa in the world can you take it
          span.float-right 10000$
          br
          .buy
            button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel2.jpg', width='100%', height='300px')
        .detailvila
          h5 Niasdcasc liksdf 
          p this is a best villaa in the world can you take it
          span.float-right 10000$
          br
          .buy
            button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-5.colum
        img(src='./images/hotel6.jpg', width='100%', height='300px')
        .detailvila
          h5 Niasdcasc liksdf 
          p this is a best villaa in the world can you take it
          span.float-right 10000$
          br
          .buy
            button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-7.colum
        img(src='./images/hotel6.jpg', width='100%', height='300px')
        .detailvila
          h5 Niasdcasc liksdf 
          p this is a best villaa in the world can you take it
          span.float-right 10000$
          br
          .buy
            button.btn.btn-primary.pl-5.pr-5(type='submit') buy
// Flats
.flats
  .container
    h3.title  Flats
    .row
      .col-md-4.colum
        img(src='./images/hotel5.jpg', width='100%', height='300px')
        .detailvila
          h5.float-right Niasdcasc liksdf 
          .clear
            p this is a best villaa in the world can you take it
            span 10000$
            br
            .buy
              button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel7.jpg', width='100%', height='300px')
        .detailvila
          h5.float-right Niasdcasc liksdf 
          .clear
            p this is a best villaa in the world can you take it
            span 10000$
            br
            .buy
              button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel7.jpg', width='100%', height='300px')
        .detailvila
          h5.float-right Niasdcasc liksdf 
          .clear
            p this is a best villaa in the world can you take it
            span 10000$
            br
            .buy
              button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel7.jpg', width='100%', height='300px')
        .detailvila
          h5.float-right Niasdcasc liksdf 
          .clear
            p this is a best villaa in the world can you take it
            span 10000$
            br
            .buy
              button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel7.jpg', width='100%', height='300px')
        .detailvila
          h5.float-right Niasdcasc liksdf 
          .clear
            p this is a best villaa in the world can you take it
            span 10000$
            br
            .buy
              button.btn.btn-primary.pl-5.pr-5(type='submit') buy
      .col-md-4.colum
        img(src='./images/hotel7.jpg', width='100%', height='300px')
        .detailvila
          h5.float-right Niasdcasc liksdf 
          .clear
            p this is a best villaa in the world can you take it
            span 10000$
            br
            .buy
              button.btn.btn-primary.pl-5.pr-5(type='submit') buy
// Normal house
.normalhouse
  .container
    h3.title Normal house
    .row.text-center
      .col-md-7.colum
        img(src='./images/hotel4.jpg', width='100%', height='270px')
        .detailnormal
          h5 Normal house
          p this can make your life better and be happy with your familly
          button.btn.btn-primary.pl-5.pr-5(type='submit') Buy
      .col-md-5.colum
        img(src='./images/hotel4.jpg', width='100%', height='270px')
        .detailnormal
          h5 Normal house
          p this can make your life better and be happy with your familly
          button.btn.btn-primary.pl-5.pr-5(type='submit') Buy
      .col-md-5.colum
        img(src='./images/hotel4.jpg', width='100%', height='270px')
        .detailnormal
          h5 Normal house
          p this can make your life better and be happy with your familly
          button.btn.btn-primary.pl-5.pr-5(type='submit') Buy
      .col-md-7.colum
        img(src='./images/hotel4.jpg', width='100%', height='270px')
        .detailnormal
          h5 Normal house
          p this can make your life better and be happy with your familly
          button.btn.btn-primary.pl-5.pr-5(type='submit') Buy
// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
